::-webkit-input-placeholder { /* WebKit browsers */
  color:#94618e;
}
.search-wrap{
  height: 100vh;
  padding: 1vh 8vh 30vh 8vh;
  .note-name{
   // border-bottom: 1px solid #94618e;
    padding-bottom: 3vh;
    font-size: 19px;
    margin-top: 0.5rem;
    color: #94618e;
  };
  .input-wrap{
    height:52px;
    line-height:52px;
    margin-top: 9vh;
    padding-bottom: 1rem;
    border-bottom: 1px solid #94618e;
    .search-input{
      border-bottom: 1px solid #ccc;
      background-color: transparent;
      margin-bottom: 1vh;
      border: none;
      color: #94618e;
      height: 52px;
      width: 100%;
      overflow-x: scroll;
      font-size: 40px;
      outline: none;
    }
  }

  .tab-content{
    margin-top: 1vh;
    transition: opacity 1s;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    &::-webkit-scrollbar{
      width: 0px;
    }
    .note-item{
      width: 28%;
      height: 150px;
      background-color: #fff;
      box-shadow: 0 1px 6px #94618e;
      border-radius: 3px;
      margin: 1% 1%;
      padding: 1%;
      text-align: center;
      .title{
        font-size: 16px;
        color: #49274a;
        cursor: pointer;
        height: 24px;
        max-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .date{
        color: #94618e;
        font-size: 12px;
        padding: 10px 0;
        border-bottom: 1px dashed #94618e;
      }
      .content{
        text-align: left;
        padding: 10px 0;
        color: #666;
        height: 5rem;
        max-height: 5rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }
      &:hover{
        transform: scale(1.02, 1.02);
        cursor: pointer;
      }
    }
    .tip{
      width: 100%;
      text-align: center;
      font-size: 30px;
      color: #ccc;
      margin-top: 20vh;
    }
  }
}