
<div class="about">   
    <h1>Welcome to SmartNote</h1>
    
      <div class="profile-card">
    
        <div class="header">
    
          <a href="#" [routerLink]="['/notes']">
            <img [src]="'/assets/icons8-Pen.png'" />
          </a>
    
          <h1>SmartNote</h1>
    
          <h2>SmartNote is a notes app based on Angualr 4 and Node.js. developed by Group Augo</h2>
    
        </div>
    
        <div class="profile-bio">
    
          <p>Organize your life with SmartNote application for keeping track of notes, tasks, and to-do lists.</p>
    
        </div>
    
        <ul class="profile-social-links">
    
          <li>
            <a href="#" [routerLink]="['/notes']">
              <i class="fa fa-arrow-left"></i>
            </a>
          </li>
    
          <li>
            <a href="https://github.com/Shanfang/SmartNote" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>

          <li>
              <a href="#" [routerLink]="['/notes']">
                <i class="fa fa-arrow-right"></i>
              </a>
          </li>
    

    
        </ul>
      </div>
    </div>