
<div class="about">   
      <div class="profile-card">
    
        <div class="header">
    
          <a href="#" [routerLink]="['/about']">
            <img [src]="'/assets/icons8-Pen.png'" />
          </a>
    
          <h1>SmartNote</h1>
    
          <h2>SmartNote is a notes application based on Angualr 4, MongoDB and Node.js.</h2>
    
        </div>
    
        <div class="profile-bio">
    
          <p>Organize your life with SmartNote application for your personal and professional projects/notes.</p>
    
        </div>
    
      </div>
    </div>