.icon{
  font-size: 20px;

}
.left-menu{

  width: 90px;
  height: 100vh;
  box-shadow: 0 1px 6px #ccc;
  background-color: #94618e;
  float: left;
  ul{
    li{
      text-align: center;
      padding: 19px 0;
      cursor: pointer;
      font-size: 12px;
      a{
        color: #F4DECB;
        &:hover{
          color: #49274A;
        }
      };
      .router-active{
        color: #49274A;
        
      }
    }
    .personal-center{

      width: 90px;
      // position: absolute;
      bottom: 0;
      left: 0;
      a{
        font-size: 26px;
      }
    }
    .personal-center-content{
      width: 130px;
      height: 100px;
      position: absolute;
      bottom: 10px;
      left: 65px;
      background-color: #fff;
      box-shadow: 0 1px 6px #ccc;
      border-radius: 3px;
      z-index: 30;
      padding: 5px;
      .title{
        height: 50px;
        border-bottom: 1px #ececec solid;
        i{
          font-size: 20px;
          color: #71777c;
        }
      }
      .logout{
        text-align: center;
        padding: 5px;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 10px;
        &:hover{
          background-color: #3db8c1;
          color: #fff;
        }
      }
    }
  };
  .logo{
    border-bottom: 1px solid #F4DECB;
  }
}
.content-wrap{
  overflow: hidden;
  height: 100vh;
  background-color: #F8EEE7;
}